.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 5px;
}

.list {
  display: flex;
  list-style: none;
  margin: 2% auto;
  background-color: rgb(154, 154, 211);
  width: 50%;
  justify-content: space-evenly;
}
.nav ul li {
  font-size: 22px;
  font-weight: 800;
  padding: 2%;
  color: white;
  margin-left: -3rem;
}

.nav ul li:hover {
  cursor: pointer;
  color: blue;
  font-weight: 800;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchBar button {
  background-color: rgb(83, 83, 163);
  border: none;
  outline: none;
  color: white;
  width: 5rem;
  height: 2rem;
}

.searchBar button:hover {
  cursor: pointer;
}

@media (max-width: 820px) {
  .container {
    margin-left: -5%;
  }
}

@media (max-width: 795px) {
  .container {
    margin-left: -5%;
  }
}

@media (max-width: 490px) {
  .container {
    margin-left: -5%;
  }
}

@media (max-width: 425px) {
  .container {
    margin-left: -15%;
  }
}

@media (max-width: 375px) {
  .container {
    margin-left: -21%;
  }
  .nav ul li {
    margin-left: -3rem;
  }
}

.card:hover {
  cursor: pointer;
}
